<h4><i>{{I18n 'lights-general'}}</i></h4>
<table class="table table-sm table-hover table-bordered">
    <tr>
        <td>{{I18n 'lights-column-id'}}</td>
        <td>{{id}}</td>
    </tr>
    <tr>
        <td>{{I18n 'lights-column-name'}}</td>
        <td>{{name}}</td>
    </tr>
    <tr>
        <td>{{I18n 'lights-column-type'}}</td>
        <td>{{type}}</td>
    </tr>
    <tr>
        <td>{{I18n 'lights-column-uniqueid'}}</td>
        <td>{{uniqueId}}</td>
    </tr>
    <tr>
        <td>{{I18n 'lights-column-manufacturer'}}</td>
        <td>{{manufacturer}}</td>
    </tr>
    <tr>
        <td>{{I18n 'lights-column-modelid'}}</td>
        <td>{{modelId}}</td>
    </tr>
    <tr>
        <td>{{I18n 'lights-column-softwareversion'}}</td>
        <td>{{softwareVersion}}</td>
    </tr>
</table>

<h4><i>{{I18n 'lights-state'}}</i></h4>
<table class="table table-sm table-hover table-bordered">
    <tr>
        <td>{{I18n 'lights-column-on'}}</td>
        <td>{{on}}</td>
    </tr>
    <tr>
        <td>{{I18n 'lights-column-reachable'}}</td>
        <td>{{reachable}}</td>
    </tr>
    <tr>
        <td>{{I18n 'lights-column-brightness'}}</td>
        <td>{{brightness}}</td>
    </tr>
    <tr>
        <td>{{I18n 'lights-column-colormode'}}</td>
        <td>{{colorMode}}</td>
    </tr>
    <tr>
        <td>{{I18n 'lights-column-hue'}}</td>
        <td>{{hue}}</td>
    </tr>
    <tr>
        <td>{{I18n 'lights-column-saturation'}}</td>
        <td>{{saturation}}</td>
    </tr>
    <tr>
        <td>{{I18n 'lights-column-xy'}}</td>
        <td>{{xy.[0]}}, {{xy.[1]}}</td>
    </tr>
    <tr>
        <td>{{I18n 'lights-column-colortemp'}}</td>
        <td>{{colorTemp}}</td>
    </tr>
    <tr>
        <td>{{I18n 'lights-column-alert'}}</td>
        <td>{{alert}}</td>
    </tr>
    <tr>
        <td>{{I18n 'lights-column-effect'}}</td>
        <td>{{effect}}</td>
    </tr>
</table>

<h4><i>{{I18n 'lights-model'}}</i></h4>
<table class="table table-sm table-hover table-bordered">
    <tr>
        <td>{{I18n 'lights-column-id'}}</td>
        <td>{{model.id}}</td>
    </tr>
    <tr>
        <td>{{I18n 'lights-column-manufacturer'}}</td>
        <td>{{model.manufacturer}}</td>
    </tr>
    <tr>
        <td>{{I18n 'lights-column-name'}}</td>
        <td>{{model.name}}</td>
    </tr>
    <tr>
        <td>{{I18n 'lights-column-type'}}</td>
        <td>{{model.type}}</td>
    </tr>
    <tr>
        <td>{{I18n 'lights-column-colorgamut'}}</td>
        <td>{{model.colorGamut}}</td>
    </tr>
    <tr>
        <td>{{I18n 'lights-column-friendsofhue'}}</td>
        <td>{{model.friendsOfHue}}</td>
    </tr>
</table>
