<div class="container">
    <nav class="navbar fixed-top">
        <ul class="nav nav-tabs" role="tablist">
            {{#each items}}
                <li class="nav-item">
                    <a class="nav-link" id="{{id}}" data-toggle="tab" href="#{{id}}-tab" role="tab">
                        <strong><i class="{{iconClass}}"></i></strong>&nbsp;{{label}}
                    </a>
                    <script>
                        $('#{{id}}').on('shown.bs.tab', function() {
                            {{on_show}}
                        });
                    </script>
                </li>
            {{/each}}
        </ul>
    </nav>
</div>

<div class="tab-content">
    {{#each items}}
        <div id="{{id}}-tab" class="tab-pane fade in active" role="tabpanel">
            <br>
            <div id="{{id}}-tab-content" class="container"></div>
        </div>
    {{/each}}
</div>
