<table id="groups-table" class="table table-sm table-hover">
    <thead>
    <tr>
        <th scope="col"></th>
        <th scope="col">{{I18n 'groups-column-id'}}</th>
        <th scope="col">{{I18n 'groups-column-name'}}</th>
        <th scope="col">{{I18n 'groups-column-type'}}</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    {{#each groups}}
        <tr>
            <td class="text-center">
                {{#getGroupIcon type class}}{{/getGroupIcon}}
            </td>
            <td>{{id}}</td>
            <td>
                <strong>{{name}}</strong>
            </td>
            <td>{{type}}</td>
            <td>
                <!-- Control Modal-->
                <div class="modal fade" id="group-control-modal-{{id}}" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-xl" role="document">
                        <div class="modal-content">
                            <div class="modal-header modal-header-primary">
                                <h5 class="modal-title" id="group-control-modal-label">{{I18n 'groups-control-modal-label'}}</h5>
                                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                            </div>
                            <div class="modal-body" id="group-control-modal-body">
                                {{> basic_actions
                                        huE_target='group'
                                        huE_methodHolder='huE_groups'
                                        id=id
                                        name=name
                                        on=anyOn
                                        brightness=brightness
                                        xy=xy
                                        showQuickActionButton=true }}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{I18n 'groups-control-modal-close'}}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <button id="control-button-group-{{id}}" class="btn btn-sm btn-success"><span class="fas fa-sliders"></span>&nbsp;&nbsp;&nbsp;{{I18n 'groups-control'}}</button>
                <script>
                    $('#control-button-group-{{id}}').click(() => {
                        $('#group-control-modal-{{id}}').modal('show');
                    });
                </script>
            </td>
            <td>
                <!-- Details Modal-->
                <div class="modal fade" id="group-detail-modal-{{id}}" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header modal-header-primary">
                                <h5 class="modal-title" id="group-detail-modal-label">{{I18n 'groups-detail-modal-label'}}</h5>
                                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                            </div>
                            <div class="modal-body" id="group-detail-modal-body">
                                {{> group_details this }}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{I18n 'groups-detail-modal-close'}}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <button id="details-button-group-{{id}}" class="btn btn-sm btn-info"><span class="fas fa-info-circle"></span>&nbsp;&nbsp;&nbsp;{{I18n 'groups-details'}}</button>
                <script>
                    $('#details-button-group-{{id}}').click(() => {
                        $('#group-detail-modal-{{id}}').modal('show');
                    });
                </script>
            </td>
            <td>
                <button id="edit-button-group-{{id}}" class="btn btn-sm btn-primary"><span class="fas fa-pencil-alt"></span>&nbsp;&nbsp;&nbsp;{{I18n 'groups-edit'}}</button>
                <script>
                    $('#edit-button-group-{{id}}').click(() => {
                        let usedLightIds = [];
                        {{#each lightIds}}
                            usedLightIds.push('{{this}}');
                        {{/each}}

                        $('#group-edit-modal-label').text('{{I18n 'groups-edit-modal-label'}}');
                        $('#group-edit-modal-id').val('{{id}}');
                        $('#group-edit-modal-name').val(huE_common.htmlDecode('{{name}}'));
                        $('#group-edit-modal-type').val('{{type}}');

                        let groupClass = $('#group-edit-modal-class');
                        groupClass.val('{{class}}');
                        groupClass.prop(
                            'disabled',
                            !('{{type}}' === GROUP_TYPES.room || '{{type}}' === GROUP_TYPES.zone)
                        );

                        $('#group-edit-modal-available-lights :input').each((index, element) => {
                            let lightIdIsPartOfGroup = usedLightIds.indexOf($(element).val()) !== -1;
                            $(element).attr("checked", lightIdIsPartOfGroup);
                        });

                        $('#group-edit-modal').modal('show');
                    });
                </script>
            </td>
            <td>
                <button id="delete-button-group-{{id}}" class="btn btn-sm btn-danger"><span class="fas fa-trash-alt"></span>&nbsp;&nbsp;&nbsp;{{I18n 'groups-delete'}}</button>
                <script>
                    $('#delete-button-group-{{id}}').click(() => {
                        huE_common.showConfirmation('{{I18n 'confirmation-label-delete-confirmation'}}', '{{I18n 'confirmation-msg-delete-group'}}', () => {
                            huE_groups.deleteById('{{id}}');
                        });
                    });
                </script>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>
<script>
    $('#groups-table').DataTable({
        pageLength: 50,
        order: [[1, 'asc']],
        columnDefs: [
            {
                orderable: false,
                targets: [-4, -3, -2, -1, 0]
            }
        ]
    });
</script>

<!-- New Group -->
<div class="mt-3">
    <button id="groups-add-new" class="btn btn-lg btn-primary btn-block"><span class="fas fa-plus"></span>&nbsp;&nbsp;&nbsp;{{I18n 'groups-add-new'}}</button>
    <script>
        $('#groups-add-new').click(() => {
            $('#group-edit-modal-label').text('{{I18n 'groups-edit-modal-label-new'}}');
            $('#group-edit-modal-id').val('');
            $('#group-edit-modal-name').val('{{I18n 'groups-edit-modal-name-default'}}');
            $('#group-edit-modal-available-lights :input').prop('checked', false);
            $('#group-edit-modal').modal('show');
        });
    </script>
</div>

<!-- Edit/New Group Modal -->
<div class="modal fade" id="group-edit-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-primary">
                <h5 class="modal-title" id="group-edit-modal-label"></h5>
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <input id="group-edit-modal-id" type="hidden">
                    <div class="form-group">
                        <label for="group-edit-modal-name" class="control-label">{{I18n 'groups-edit-modal-name'}}</label>
                        <input type="text" class="form-control" id="group-edit-modal-name">
                    </div>
                    <div class="form-group">
                        <label for="group-edit-modal-type">{{I18n 'groups-edit-modal-type'}}</label>
                        <select class="form-control" id="group-edit-modal-type">
                            {{#each types}}
                                <option>{{this}}</option>
                            {{/each}}
                        </select>
                        <script>
                            $('#group-edit-modal-type').change(() => {
                                let roomSelected = $('#group-edit-modal-type').val() === GROUP_TYPES.room;
                                $('#group-edit-modal-class').prop('disabled', !roomSelected);
                            });
                        </script>
                    </div>
                    <div class="form-group">
                        <label for="group-edit-modal-class">{{I18n 'groups-edit-modal-class'}}</label>
                        <select class="form-control" id="group-edit-modal-class">
                            {{#each classes}}
                                <option>{{this}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="group-edit-modal-available-lights">{{I18n 'groups-edit-modal-available-lights'}}</label>
                        <div class="card" id="group-edit-modal-available-lights">
                            <div class="card-body">
                                {{#each availableLights}}
                                    <div class="checkbox">
                                        <label><input type="checkbox" value="{{this.id}}">&nbsp;{{this.name}} <small>({{I18n 'lights-id'}}: {{this.id}})</small></label>
                                    </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{I18n 'groups-edit-modal-close'}}</button>
                <button type="button" class="btn btn-primary text-left" id="group-edit-modal-save" data-dismiss="modal">{{I18n 'groups-edit-modal-save'}}</button>
                <script>
                    $('#group-edit-modal-save').click(() => {
                        let id = $('#group-edit-modal-id').val();
                        let name = $('#group-edit-modal-name').val();
                        let type = $('#group-edit-modal-type').val();
                        let clazz = $('#group-edit-modal-class').val();
                        let lightIds = [];

                        $('#group-edit-modal-available-lights :input').each((index, element) => {
                            if ($(element).prop('checked')) {
                                lightIds.push($(element).val());
                            }
                        });

                        huE_groups.save({
                            id: id,
                            name: name,
                            type: type,
                            class: clazz,
                            lightIds: lightIds
                        });
                    });
                </script>
            </div>
        </div>
    </div>
</div>
