<table id="lights-table" class="table table-sm table-hover">
    <thead>
    <tr>
        <th scope="col"></th>
        <th scope="col">{{I18n 'lights-column-id'}}</th>
        <th scope="col">{{I18n 'lights-column-name'}}</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    {{#each lights}}
        <tr>
            <td class="text-center">
                {{#getProductIcon modelId}}{{/getProductIcon}}
            </td>
            <td>{{id}}</td>
            <td>
                <strong>{{name}}</strong>
            </td>
            <td>
                <!-- Control Modal-->
                <div class="modal fade" id="light-control-modal-{{id}}" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-xl" role="document">
                        <div class="modal-content">
                            <div class="modal-header modal-header-primary">
                                <h5 class="modal-title" id="light-control-modal-label">{{I18n 'lights-control-modal-label'}}</h5>
                                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                            </div>
                            <div class="modal-body" id="light-control-modal-body">
                                {{> basic_actions
                                        huE_target='light'
                                        huE_methodHolder='huE_lights'
                                        id=id
                                        name=name
                                        on=on
                                        brightness=brightness
                                        xy=xy
                                        showQuickActionButton=true }}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{I18n 'lights-control-modal-close'}}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <button id="control-button-light-{{id}}" class="btn btn-sm btn-success"><span class="fas fa-sliders"></span>&nbsp;&nbsp;&nbsp;{{I18n 'lights-control'}}</button>
                <script>
                    $('#control-button-light-{{id}}').click(() => {
                        $('#light-control-modal-{{id}}').modal('show');
                    });
                </script>
            </td>
            <td>
                <!-- Details Modal-->
                <div class="modal fade" id="light-detail-modal-{{id}}" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header modal-header-primary">
                                <h5 class="modal-title" id="light-detail-modal-label">{{I18n 'lights-detail-modal-label'}}</h5>
                                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                            </div>
                            <div class="modal-body" id="light-detail-modal-body">
                                {{> light_details this }}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{I18n 'lights-detail-modal-close'}}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <button id="details-button-light-{{id}}" class="btn btn-sm btn-info"><span class="fas fa-info-circle"></span>&nbsp;&nbsp;&nbsp;{{I18n 'lights-details'}}</button>
                <script>
                    $('#details-button-light-{{id}}').click(() => {
                        $('#light-detail-modal-{{id}}').modal('show');
                    });
                </script>
            </td>
            <td>
                <button id="edit-button-light-{{id}}" class="btn btn-sm btn-primary"><span class="fas fa-pencil-alt"></span>&nbsp;&nbsp;&nbsp;{{I18n 'lights-edit'}}</button>
                <script>
                    $('#edit-button-light-{{id}}').click(() => {
                        $('#light-edit-modal-id').val('{{id}}');
                        $('#light-edit-modal-name').val(huE_common.htmlDecode('{{name}}'));
                        $('#light-edit-modal-alert').val('{{alert}}');

                        $('#light-edit-modal').modal('show');
                    });
                </script>
            </td>
            <td>
                <button id="delete-button-light-{{id}}" class="btn btn-sm btn-danger"><span class="fas fa-trash-alt"></span>&nbsp;&nbsp;&nbsp;{{I18n 'lights-delete'}}</button>
                <script>
                    $('#delete-button-light-{{id}}').click(() => {
                        huE_common.showConfirmation('{{I18n 'confirmation-label-delete-confirmation'}}', '{{I18n 'confirmation-msg-delete-light'}}', () => {
                            huE_lights.deleteById('{{id}}');
                        });
                    });
                </script>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>
<script>
    $('#lights-table').DataTable({
        pageLength: 50,
        order: [[1, 'asc']],
        columnDefs: [
            {
                orderable: false,
                targets: [-4, -3, -2, -1, 0]
            }
        ]
    });
</script>

<!-- Edit Modal -->
<div class="modal fade" id="light-edit-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-primary">
                <h5 class="modal-title" id="light-edit-modal-label">{{I18n 'lights-edit-modal-label'}}</h5>
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <input id="light-edit-modal-id" type="hidden">
                    <div class="form-group">
                        <label for="light-edit-modal-name" class="control-label">{{I18n 'lights-edit-modal-name'}}</label>
                        <input type="text" class="form-control" id="light-edit-modal-name">
                    </div>
                    <div class="form-group">
                        <label for="light-edit-modal-alert">{{I18n 'lights-edit-modal-alert'}}</label>
                        <select class="form-control" id="light-edit-modal-alert">
                            {{#each lightAlerts}}
                                <option>{{this}}</option>
                            {{/each}}
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{I18n 'lights-edit-modal-close'}}</button>
                <button type="button" class="btn btn-primary text-left" id="light-edit-modal-save" data-dismiss="modal">{{I18n 'lights-edit-modal-save'}}</button>
                <script>
                    $('#light-edit-modal-save').click(() => {
                        let id = $('#light-edit-modal-id').val();
                        let name = $('#light-edit-modal-name').val();
                        let alert = $('#light-edit-modal-alert').val();

                        huE_lights.save({
                            id: id,
                            name: name,
                            alert: alert
                        });
                    });
                </script>
            </div>
        </div>
    </div>
</div>
