<table class="table table-hover">
	<thead>
	<tr>
		<th></th>
		<th>{{I18n 'sensors-column-name'}}</th>
		<th>{{I18n 'sensors-column-id'}}</th>
		<th>{{I18n 'sensors-column-type'}}</th>
		<th></th>
	</tr>
	</thead>
	<tbody>
	{{#each sensors}}
		<tr>
			<td class="text-center">
				{{#getProductIcon modelId}}{{/getProductIcon}}
			</td>
			<td>
				<strong>{{name}}</strong>
			</td>
			<td>{{id}}</td>
			<td>{{type}}</td>
			<td>
				<button id="edit-button-sensor-{{id}}" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;&nbsp;{{I18n 'sensors-edit'}}</button>
				<script>
					$('#edit-button-sensor-{{id}}').on('click', function() {
						$('#sensor-edit-modal-id').val('{{id}}');
						$('#sensor-edit-modal-name').val(huE_common.htmlDecode('{{name}}'));

						$('#sensor-edit-modal').modal('show');
					});
				</script>
			</td>
		</tr>
	{{/each}}
	</tbody>
</table>

<!-- Edit Modal -->
<div class="modal fade" id="sensor-edit-modal" tabindex="-1" role="dialog" aria-labelledby="sensor-edit-modal-label">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header modal-header-primary">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="sensor-edit-modal-label">{{I18n 'sensors-edit-modal-label'}}</h4>
			</div>
			<div class="modal-body">
				<form>
					<input id="sensor-edit-modal-id" type="hidden">
					<div class="form-group">
						<label for="sensor-edit-modal-name" class="control-label">{{I18n 'sensors-edit-modal-name'}}</label>
						<input type="text" class="form-control" id="sensor-edit-modal-name">
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">{{I18n 'sensors-edit-modal-close'}}</button>
				<button type="button" class="btn btn-primary text-left" id="sensor-edit-modal-save" data-dismiss="modal">{{I18n 'sensors-edit-modal-save'}}</button>
				<script>
					$('#sensor-edit-modal-save').click(function() {
						let id = $('#sensor-edit-modal-id').val();
						let name = $('#sensor-edit-modal-name').val();

						huE_sensors.save({id: id,
										  name: name});
					});
				</script>
			</div>
		</div>
	</div>
</div>
