<table class="table table-sm table-hover">
	<thead>
		<tr>
			<th scope="col" class="text-nowrap">{{I18n 'users-column-username'}}</th>
			<th scope="col" class="text-nowrap">{{I18n 'users-column-devicetype'}}</th>
			<th scope="col" class="text-nowrap">{{I18n 'users-column-createdate'}}</th>
			<th scope="col" class="text-nowrap">{{I18n 'users-column-lastusedate'}}</th>
		</tr>
	</thead>
	<tbody>
	{{#each users}}
		<tr>
			<td>
				<strong>{{username}}</strong>
			</td>
			<td>{{deviceType}}</td>
			<td>{{getLocaleDateAndTimeString created}}</td>
			<td>{{getLocaleDateAndTimeString lastUsed}}</td>
		</tr>
	{{/each}}
	</tbody>
</table>
