<table class="table table-hover">
	<thead>
		<tr>
			<th scope="col">{{I18n 'users-column-username'}}</th>
			<th scope="col">{{I18n 'users-column-devicetype'}}</th>
			<th scope="col">{{I18n 'users-column-createdate'}}</th>
			<th scope="col">{{I18n 'users-column-lastusedate'}}</th>
			<th scope="col"></th>
		</tr>
	</thead>
	<tbody>
	{{#each users}}
		<tr>
			<td>
				<strong>{{username}}</strong>
			</td>
			<td>{{deviceType}}</td>
			<td>{{created}}</td>
			<td>{{lastUsed}}</td>
			<td>
				{{#ifNotCond username ../usedUser}}
				<button id="delete-button-user-{{username}}" class="btn btn-sm btn-danger"><span class="fas fa-trash-alt"></span>&nbsp;&nbsp;&nbsp;{{I18n 'users-delete'}}</button>
				<script>
					$('#delete-button-user-{{username}}').on('click', function() {
					    let confirmationCallback = function() { huE_users.deleteByName('{{username}}') };
					    huE_common.showConfirmation('{{I18n 'confirmation-label-delete-confirmation'}}', '{{I18n 'confirmation-msg-delete-user'}}', confirmationCallback);
					});
				</script>
				{{/ifNotCond}}
			</td>
		</tr>
	{{/each}}
	</tbody>
</table>
