<table id="users-table" class="table table-sm table-hover">
	<thead>
		<tr>
			<th scope="col" class="text-nowrap">{{I18n 'users-column-username'}}</th>
			<th scope="col" class="text-nowrap">{{I18n 'users-column-devicetype'}}</th>
			<th scope="col" class="text-nowrap">{{I18n 'users-column-createdate'}}</th>
			<th scope="col" class="text-nowrap">{{I18n 'users-column-lastusedate'}}</th>
		</tr>
	</thead>
	<tbody>
	{{#each users}}
		<tr>
			<td>
				<strong>{{username}}</strong>
			</td>
			<td>{{deviceType}}</td>
			<td>{{created}}</td>
			<td>{{lastUsed}}</td>
		</tr>
	{{/each}}
	</tbody>
</table>
<script>
    $('#users-table').DataTable({
        pageLength: 50,
        columnDefs: [
            {
                render: DataTable.render.datetime(),
                targets: [-1, -2]
            }
        ]
    });
</script>
